<form action="/register" method="POST" autocomplete="off" class="loginform">
        <h3 class="title-login">Đăng kí tài khoản</h3>
        <div class="box-input-login">
            <span>Tên đăng nhập</span>
            <input type="text" name="username" id="txt_username" placeholder="Nhập tên đăng nhập">
        </div>
        <div class="box-input-login">
            <span>Mật khẩu</span>
            <input type="text" name="password" id="txt_password" placeholder="Nhập mật khẩu">
        </div>
        <input type="submit" value="Gửi" id="btn_register">
</form>